.page{

  position: relative;
  width: 100%;
  max-width: 560px;
  padding: 20px;
  margin: 0 auto;

  .heading{
    text-align: center;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: auto;
      max-width: 125px;
      margin-bottom: 10px;
    }
  }

  h1{
    color:$primary-color;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    padding: 0px 20px;
    max-width: 320px;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }


  h2{
    color: $third-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 5px;
  }

  .body{
    p{
      margin: 20px 0px;
    }

  }
}